.notes-container {
     display: block;

     width: 100%;
     max-width: 900px;
     margin: 0.3rem auto;
}

.note {
     display: inline-flex;
     margin: 0.4rem;
     padding: 0.3rem 0.5rem;
     width: 100%;
     max-width: 250px;
     height: auto;
     max-height: 180px;
     background: #e6e6e6;

     border: 1px solid #cecece;
     border-radius: 0.5rem;
     
     overflow: hidden;
     white-space: pre-line;
     text-overflow: ellipsis;
}