* {
     font-family: cursive, sans-serif !important;
}

html, body, #root {
     height: 100%;
     width: 100%;     
     background-color: #424242
}

.floating-bottom-right {
     position: fixed;
     bottom: 0;
     right: 0;
     z-index: 99;
}

*::-webkit-scrollbar {
     width: 0.5rem;
}

*::-webkit-scrollbar-track {
     background-color: #dbdbdb;
     border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb {
     background-color: #1d1d1d;
     border-radius: 0.2rem;
}