* {
     font-family: cursive, sans-serif !important;
}

html, body, #root {
     height: 100%;
     width: 100%;     
     background-color: #424242
}

.floating-bottom-right {
     position: fixed;
     bottom: 0;
     right: 0;
     z-index: 99;
     transition: transform 0.7s ease;
}

.hide-down {
     transform: translateY(100%);
}

body::-webkit-scrollbar {
     width: 0;
}

.scrollbar::-webkit-scrollbar {
     width: 0.5rem !important;
}

.scrollbar::-webkit-scrollbar-track {
     background-color: #dbdbdb;
     border-radius: 0.2rem;
}

.scrollbar::-webkit-scrollbar-thumb {
     background-color: #1d1d1d;
     border-radius: 0.2rem;
     cursor: pointer;
}

.main-container {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: calc(100% - 72.5px);
     transition: all 0.7s ease;
     overflow-y: auto;
}


.main-container::-webkit-scrollbar {
     width: 0.2em;
}

.main-container::-webkit-scrollbar-track {
     background-color: #dbdbdb;
     border-radius: 0.2rem;
}

.main-container::-webkit-scrollbar-thumb {
     background-color: #1d1d1d;
     border-radius: 0.2rem;
     cursor: pointer;
}

.full-view {
     height: 100% !important;
}
